@use "../variables.scss" as *;
@use "../mixins.scss" as *;

.exc-msc {
    padding: 100px 0;
    @include mobile2 {
        padding: 60px 0 40px;
    }
    h2 {
        margin-bottom: 40px;
    }

    .wrapper {
        border-radius: 40px;
        padding: 25px 35px;
        background: $white;
        display: flex;
        flex-direction: column;
        gap: 40px;
        @include mobile {
            padding: 20px;
        }
        .row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 30px;
            @include mobile2 {
                flex-direction: column;
                gap: 0;
            }
            .col1,
            .col2,
            .col3 {
                flex: 1;
            }
            .col1 {
                max-width: 190px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                p:first-child {
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 89%;
                    letter-spacing: -0.02em;
                    color: #4d7747;
                    font-family: $second-family;
                }
                @include mobile {
                    p:first-child {
                        font-size: 24px;
                        line-height: 100%;
                        letter-spacing: -0.03em;
                    }
                }
                @include mobile2 {
                    margin-bottom: 20px;
                    max-width: none;
                    gap: 0;
                }
            }
            .thin-text {
                font-weight: 400;
                font-size: 12px;
                line-height: 133%;
                letter-spacing: -0.01em;
                color: #4d7747;
                @include mobile {
                    font-size: 10px;
                    line-height: 150%;
                }
            }
            .col2 {
                font-weight: 700;
                font-size: 14px;
                line-height: 129%;
                letter-spacing: -0.01em;
                color: #4d7747;
                max-width: 335px;
                @include mobile {
                    font-size: 12px;
                    line-height: 150%;
                }
                @include mobile2 {
                    margin-bottom: 10px;
                    max-width: none;
                }
            }
            .col3 {
                max-width: 345px;
                @include mobile {
                    max-width: none;
                }
            }
        }
    }
}

.routes-section {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        @include mobile {
            flex-direction: column;
        }
    }
    h2 {
        max-width: 290px;
        width: 100%;

        @include mobile {
            text-align: center;
            max-width: none;
        }
        @include mobile2 {
            font-size: 24px;
        }
    }
    .routes {
        display: flex;
        flex-wrap: wrap;
        max-width: 790px;
        gap: 10px;
        p {
            font-weight: 700;
            font-size: 14px;
            line-height: 127%;
            letter-spacing: -0.01em;
            color: #4d7747;
            border-radius: 100px;
           
            padding: 11px 20px;
            background: $white;
            @include mobile {
                font-size: 12px;
                line-height: 148%;
            }
        }
    }
}
