@use "../variables.scss" as *;
@use "../mixins.scss" as *;

.form-section3 {
  background: $green;
  padding: 120px 0;
  @include mobile2 {
    padding: 60px 0;
  }

  .wrapper {
    border-radius: 40px;
    background: $white-bg;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    @include mobile {
     flex-direction: column-reverse;
    }
    .text {
      max-width: 584px;
      width: 100%;
      padding: 35px 0 35px 40px;
      @include mobile {
        padding: 20px;
        max-width: none;
      }

      h2 {
        font-size: 56px;
        margin-bottom: 16px;
        @include mobile {
          font-size: 36px;
          text-align: center;
        }
        @include mobile2 {
          font-size: 24px;
        }
      }

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: -0.01em;
        color: #4d7747;
        margin-bottom: 30px;
        @include mobile {
         text-align: center;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 294px;
        @include mobile {
         max-width: none;
        }
        button, a {
          height: 50px;
          width: 100%;

        }
      }
    }

    .image {
      width: 45%;
      border-radius: 40px;
      overflow: hidden;
      position: relative;
      @include mobile {
        width: 100%;
        height: auto;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include mobile {
          position: static;
        }
      }
    }
  }
}