// Шрифты
$second-family: "SCJurere", sans-serif;

// Цвета
$orange: #ed7144;
$orange-hover: #f76020;
$green: #4d7747;
$white: #f7ece3;
$white-bg: #f3e7dd;

// Анимации
$tf-default: ease;
$trans-default: 0.3s $tf-default;